<nav class="navbar navbar-expand-md navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <strong>{{ site.title }}</strong>
      </a>
      <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle collapsed" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item {% if page.url == '/' %} active{% endif %}">
          <a class="navbar-link" href="{{ site.baseurl }}/">Accueil</a>
        </li>
        {% assign pages_list = site.pages | sort:"order" %}
        {% for node in pages_list %}
          {% if node.title != null %}
            {% if node.layout == "page" %}
            <li class="nav-item {% if page.url == node.url %} active{% endif %}">
              <a class="nav-link navbar-link" href="{{ node.url }}">{{ node.link | default: node.title }}</a>
            </li>
            {% endif %}
          {% endif %}
        {% endfor %}
        <li class="nav-item contact-phone">
          <a class="navbar-link" href="tel:{{ site.phone | remove: ' ' }}">
            <strong>☎ {{ site.phone }}</strong>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
